/* BIG Size (Laptop) */

@media(min-width:768px){
  
    body{
       
       background-color: var(--primary-color);;
       
    }
    #bswn{        
        width: 50vh;
        margin-top: 5px;
    } 
    #bswngif{
        width: 40vh;
    }
    .btnFooter{
        font-size: 1.4vh;
        width: 20%;
       
    }
  
   
    
    

    
    
  
  
  
}
  



/* Small Size (PHONE) */

@media(max-width:768px){
    #bswn{
    width: 26vh;
    margin-top: 1px;
    }
    p{font-size: 2vh;}
    #mission, .winbox-text,.form-control, #button-mail{
    font-size: 0.65rem;
    }
    h2{font-size: 1rem;}
    #bswngif{
        width: 26vh;
        margin-top: 0px;
    }
    .bi{
        font-size: 2vh;
    }
    .link{
        width: 3vh;
    }
    .btnFooter{
        font-size: 1.4vh;
       
    }
    #nav{
        font-size: 1.6vh;
    }
   
    
}

